@import "../variables/dimens.css";
@import "../../third_party/prism/prism.css";

.token.attr-name, .token.builtin, .token.selector, .token.string {
  color: #E91E63;
}
.token.boolean, .token.constant, .token.number, .token.property, .token.symbol, .token.tag {
  color: #9D1DB3;
}

.token.cr:before,
.token.lf:before {
  display: none;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #9D1DB3;
  background: none;
}


code .nx {
  color: #009688;
}

/* punctuation (i.e. the dot between var and function) */
code .p {
  color: #999;
}

/* comment */
code .c1 {
  color: slategray;
}

/* kr: keyword like const, let. k: if statement */
code .kr, code .k {
  color: #00BCD4;
}
