@import "../variables/dimens.css";
@import "../variables/colors.css";

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-top-style: solid;
  border-width: var(--layout-border-width);
  border-color: var(--border-color);
}

.footer__right-section {
  flex: 1;
}

@media (min-width: 900px) {
  footer {
    height: calc(var(--grid) * 17.5);
  }
}
