@import "../variables/dimens.css";
@import "../variables/colors.css";

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: calc(var(--grid) * 17.5);

  border-top-style: solid;
  border-width: var(--layout-border-width);
  border-color: var(--border-color);
}
