@import "../variables/dimens.css";

@media (min-width: 960px) {
  .nav-content {
    display:flex;
    flex-direction:row;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
  }

  .nav-content nav {
    width: 0;
    flex: 30;
  }

  .nav-content main {
    width: 0;
    flex: 70;
  }
}
