@import "../variables/dimens.css";
@import "../variables/colors.css";

.page-header {
  background-color: var(--primary-highlight-color);
  color: var(--primary-highlight-color__inverse);
  padding: calc(var(--grid) * 15) calc(var(--grid) * 8);
}

.page-header__inner-section {
  width: 50%;
}

.page-header__inner-section h1 {
  color: var(--primary-highlight-color__inverse);
  font-size: calc(var(--grid) * 9);
  margin: 0;
}
