@import "../variables/dimens.css";
@import "../variables/colors.css";

.page-header {
  background-color: var(--primary-highlight-color);
  color: var(--primary-highlight-color__inverse);
  padding: calc(var(--grid) * 8) calc(var(--grid) * 4);
}

.page-header__inner-section {
  width: 100%;
}

.page-header__inner-section h1 {
  font-size: 3rem;
  line-height: 5rem;

  color: var(--primary-highlight-color__inverse);
  margin: 0;
  margin-bottom: var(--grid);
}

.page-header__inner-section p {
  margin: 0;
}

@media (min-width: 900px) {
  .page-header {
    background-color: var(--primary-highlight-color);
    color: var(--primary-highlight-color__inverse);
    padding: calc(var(--grid) * 15) calc(var(--grid) * 8);
  }

  .page-header__inner-section {
    width: 60%;
  }

  .page-header__inner-section h1 {
    font-size: 5.14rem;
    line-height: 6.78rem;
  }
}
