@import "../variables/dimens.css";
@import "../variables/colors.css";

.two-column {
  border-bottom-style: solid;
  border-width: var(--layout-border-width);
  border-color: var(--border-color);
}

.two-column_wrapper {
  display: flex;
  flex-direction: column;
}

.two-column__section {
  padding: calc(var(--grid) * 4);
  border-width: var(--layout-border-width);
  border-color: var(--border-color);
}

.two-column__section > *:last-child {
  margin-bottom: 0;
}

.two-column__section:first-child {
  border-bottom-style: solid;
}

@media (min-width: 960px) {
  .two-column_wrapper {
    flex-direction: row;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
  }

  .two-column__section {
    width: 0;
    flex: 1;
    padding: calc(var(--grid) * 8);
  }

  .two-column__section:first-child {
    border-bottom-style: none;
    border-right-style: solid;
  }
}
