:root {
  --grid: 8px;
  --layout-border-width: 1px;
  --list-item-marker-size-s: calc(var(--grid) * 3);
  --list-item-marker-size-l: calc(var(--grid) * 4);
  --list-item-marker-margin-s: calc(var(--grid) * 5);
  --list-item-marker-margin-l: calc(var(--grid) * 6);

  --nav-animation-duration: 0.3s;
}
