@import "../variables/dimens.css";
@import "../variables/colors.css";

.subsection-classes {
  padding-bottom: calc(var(--grid) * 3);
}

.collapsing-entry h4{
  cursor: pointer;
}

.collapsing-entry {
  padding-bottom: calc(var(--grid) * 3);
  padding-top: calc(var(--grid) * 3);

  border-bottom-style: solid;
  border-width: var(--layout-border-width);
  border-color: var(--border-color);
}

.collapsing-entry:last-child {
  border-bottom-style: none;
}

span.this, .method-info-table .param-attributes, .extends {
  font-style: italic;
  font-size: 0.8rem;
  opacity: 0.7;
}

.method-name .return-arrow {
  color: var(--primary-font-color);
}

.method-name .signature-args, .method-info-table td.name {
  color: var(--primary-highlight-color);
  font-style: italic;
  opacity: 0.7;
}

.method-info-table td .param-type {
  color: var(--primary-highlight-color);
}

.method-info-table, .method-info-table th, .method-info-table td  {
  text-align: left;
  vertical-align: top;
  padding: 0;
}

.method-info-table th, .method-info-table td {
  padding-right: calc(var(--grid) * 2);
}

.method-info-table td:last-child {
  padding-right: 0;
}

.method-info-table .param-desc *:last-child {
  margin-bottom: 0;
}

.collapse-details.is-closed {
  height: 0;
  overflow: hidden;
}

.is-jsdoc-page .subsection-title {
  margin-bottom: 0;
}

.code-caption {
  margin-top: 2rem;
  margin-bottom: -2rem;
  font-style: italic;
  font-size: 0.8rem;
}
