<?js
var returns = obj || {};
?>

<table class="params">
    <thead>
    <tr>
        <th>Type</th>

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    <?js
        var self = this;
        returns.forEach(function(returnValue) {
            if (!returnValue) { return; }
    ?>

        <tr>
            <td class="type">
            <?js if (returnValue.type && returnValue.type.names) {?>
                <?js= self.partial('type.tmpl', returnValue.type.names) ?>
            <?js } ?>
            </td>

            <td class="description last">
              <?js= returnValue.description ?>
            </td>
        </tr>

    <?js }); ?>
    </tbody>
</table>
