@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

@import "./variables/dimens.css";
@import "./variables/colors.css";

@import "./components/svg-btn.css";
@import "./components/top-bar.css";
@import "./components/page-header.css";
@import "./components/two-column.css";
@import "./components/google-dev-logo.css";
@import "./components/footer.css";
@import "./components/nav-content.css";
@import "./components/navigation.css";
@import "./components/heading-list.css";
@import "./components/code-styles.css";

html {
  height: 100%;
}

html, body {
  width:100%;

  margin: 0;
  padding: 0;

  font-size: calc(var(--primary-font-size) * 1px);
  line-height: calc(var(--primary-line-height) * 1px);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  font-weight: normal;
  color: var(--primary-highlight-color);
}

h1 {
  font-size: calc((24 / var(--primary-font-size)) * 1rem);
  line-height: calc((32/ var(--primary-font-size)) * 1rem);
  margin: calc(var(--grid) * 4) 0;
}

h2 {
  font-size: calc((22 / var(--primary-font-size)) * 1rem);
  line-height: calc((29/ var(--primary-font-size)) * 1rem);
  margin: calc(var(--grid) * 4) 0;
}

h3 {
  margin: calc(var(--grid) * 4) 0 var(--grid) 0;
}

h4, h5, h6 {
  margin: calc(var(--grid) * 4) 0 calc(var(--grid) / 2) 0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: var(--grid);
}

ul, ol {
  margin: calc((var(--primary-line-height) / var(--primary-font-size)) * 1rem) 0;
  padding-left: calc((40 / var(--primary-font-size)) * 1rem);
}

img {
  max-width: 100%;
}

pre, .highlighter-rouge {
  margin: calc((32 / var(--primary-font-size)) * 1rem) 0;
}

.highlighter-rouge > pre {
  margin: 0;
}

pre {
  background-color: var(--code-bg);
  padding: calc(var(--grid) * 2.5);
  overflow: auto;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  color: var(--code-font-color);
  font-size: 0.9rem;
}

main {
  padding: calc(var(--grid) * 4);
}

main > * {
  max-width: 750px;
}

a {
  color: var(--primary-highlight-color);
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

blockquote {
  margin: 0;
  padding: var(--grid) calc(var(--grid) * 2);

  border-left-style: solid;
  border-left-width: var(--layout-border-width);
  border-left-color: var(--primary-highlight-color);
}

@media (min-width: 960px) {
  main {
    padding: calc(var(--grid) * 8);
  }
}
