ul, ol {
  counter-reset: section;

  list-style-type: none;

  margin: calc(var(--grid) * 3) 0;
  padding-left: var(--list-item-marker-margin-s);
  line-height: var(--list-item-line-height);
}

li {
  counter-increment: section;

  position: relative;
  margin: calc(var(--grid) * 2) 0;
}

li:before {
  position: absolute;

  width: var(--list-item-marker-size-s);
  height: var(--list-item-marker-size-s);
  line-height: var(--list-item-marker-size-s);
  vertical-align: middle;
  text-align: center;

  top: calc((var(--list-item-line-height) / 2) - (var(--list-item-marker-size-s) / 2));
  margin-left: calc(((var(--list-item-marker-size-s) - var(--list-item-marker-margin-s)) / 2) - var(--list-item-marker-size-s));
}

ol > li:before {
  content: counter(section);

  background-color: var(--primary-highlight-color);
  color: white;
  border-radius: 100%;
  font-size: 0.9rem;
}

ul > li:before {
  content: '-';

  margin-top: -1px;
}
/**


ul li, ol li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  margin: 0;
}

ul li {
  margin-bottom: calc(var(--grid) * 3);
}

ul ul, ol ul {
  margin: calc(var(--grid) * 2) 0 0 0;
}

ol li {

  margin-bottom: calc(var(--grid) * 4);
}

ul ol, ol ol {
  margin: calc(var(--grid) * 2) 0;
}

ul li:last-child, ol li:last-child {
  margin: 0;
}

ul li:before, ol li:before {
  display: block;

  box-sizing: border-box;



}

ul li:before {
  content: '-';
  color: var(--primary-highlight-color);
  font-weight: bolder;

  font-size: calc(var(--grid) * 3);

  margin-top: -2px;
}

ol li:before {



  font-size: calc(var(--grid) * 2);
  line-height: var(--list-item-marker-size-s);
  padding-top: 1px;
}

@media (min-width: 900px) {
  main {
    padding: calc(var(--grid) * 8);
  }

  ul, ol {
    padding-left: var(--list-item-marker-margin-l);
  }

  ul li, ol li {
  }

  ul li:before, ol li:before {
    width: var(--list-item-marker-size-l);
    height: var(--list-item-marker-size-l);
    margin-left: calc(((-1 * var(--list-item-marker-margin-l)) / 2) - (var(--list-item-marker-size-l) / 2));
  }

  ul li:before {
    font-size: calc(var(--grid) * 5);
    line-height: var(--list-item-marker-size-l);
    margin-top: -2px;
  }

  ol li:before {
    line-height: var(--list-item-marker-size-l);
    padding-top: 1px;
  }
}**/
